#youtube, #facebook, #twitter, #instragram, #msn, #rss {
	line-height: 99px;
	height: 99px;
	width: 0px;
	padding-left: 105px;
	background-image: url(social-icons.example.png);
	background-repeat: no-repeat;
}

#youtube {
	background-position: -200px 0px;
}

#facebook {
	background-position: 5px 0px;
}

#twitter {
	background-position: -102px 0px;
}

#instragram {
	background-position: -295px 0px;
}
